body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40 !important;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #dc3545;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}